<div id="reg1">
      <table>
        <tr>
          <th>Especialidade</th>
          <th>Preço</th>
        </tr>
        {{#each especialidades}}
            <tr>
                <td>{{nome}}</td>
                <td>R${{preco}}</td>
            </tr>
        {{/each}}
      </table>
  </div>